<div class="page_container">
  <% @users.each do |a| %>
    <div class="author_container">
    <div class="image_placeholder">
      <img src=<%= a.photo%> alt="" >
    </div>
    <div class="details">
      <h1>
      <a href='/users/<%= a.id %>'>
      <%= a.name %>
      </a>
      </h1>
      <p>Number of posts: <%= a.postscounter %></p>
    </div>
  </div>
<% end %>